.chat-add {
	display: flex;
	flex-direction: column;
	gap: 25px;
	min-width: 30%;
	padding: 10px;
	border-right: 1px solid #ccc;
}

.chat-add__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chat-add__header-btns {
	display: flex;
	gap: 10px;
}

.chat-add__header-btn svg {
	padding: 8px;
	width: 40px;
	height: 40px;
}

.chat-add__title {
	color: #111b21;
	font-size: 1.375rem;
}

.chat-add__search-label {
	position: relative;
}

.chat-add__search-svg {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

.chat-add__search-input {
	width: 100%;
	padding: 10px 10px 10px 60px;
	margin: 0;
	background-color: #f0f2f5;
	border: 2px solid transparent;
	outline: none;
}

.chat-add__search-input::placeholder {
	font-size: 16px;
	color: #000;
}

.chat-add__btn {
	background-color: #25d366;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	display: block;
	width: 100%;
	text-align: center;
}

.chat-add__btn:hover {
	background-color: #128c7e;
}

.chat-add__btn:active {
	background-color: #075e54;
}
