@font-face {
	font-family: Roboto;
	font-weight: 400;
	src: url('./assets/fonts/roboto-regular.woff2'),
		url('./assets/fonts/roboto-regular.woff');
}

* {
	box-sizing: border-box;
}

html {
	box-sizing: inherit;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	background-color: #1daa61;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	background-color: transparent;
	border: 2px solid transparent;
	cursor: pointer;
	padding: 0;
	transition: all 0.3s ease-in-out;
}

textarea {
	resize: none;
}

.container {
	display: flex;
	padding: 0 40px;
	height: 100vh;
	width: 100%;
	position: relative;
}
